.navbar {
  grid-area: navbar;
}

.footer {
  grid-area: footer;
}

.wrapper {
  grid-area: wrapper;
}

.content {
  grid-area: content;
}

.aside {
  grid-area: aside;
}

/* Desktop layout */
@media only screen and (min-width: 1281px) {
  .grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr 48px;
    grid-template-areas: "navbar" "wrapper" "footer";
    max-width: 80em;
    margin: 0 auto;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content aside";
  }

}

/* Tablet layout */
@media only screen and (min-width: 481px) and (max-width: 1280px) {
  .grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 48px;
    grid-template-areas: "navbar" "wrapper" "footer";
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content aside";
  }

  .navbar {
    flex-wrap: wrap;
  }

  .navbar a {
    flex-basis: 100%;
  }

  .logo {
    width: 100%;
  }
}

/* Mobile layout */
@media only screen and (max-width: 480px) {
  .grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 48px;
    grid-template-areas: "navbar" "wrapper" "footer";
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "content" "aside";
  }

  .navbar {
    flex-wrap: wrap;
  }

  .navbar a {
    flex-basis: 100%;
  }

  .logo {
    width: 100%;
  }
}
