$color-black: rgb(24, 27, 28);
$color-blue: rgb(176, 192, 220);

$font-roboto: "Roboto", sans-serif;
$font-merriweather: "Merriweather", serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: darken(#555, 10);
}

body {
  font-family: $font-merriweather;
}

p,
a {
  font-family: $font-roboto;
  text-decoration: none;
}

.content {
  padding: 2em;
  max-width: 100vw;
  min-width: 0;
}

.content p {
  word-wrap: break-word;
}

.navbar {
  background-color: lighten($color-black, 10);
  font-size: 0;
  display: flex;
  flex-direction: row;
  line-height: 48px;
}

.navbar a {
  font-size: initial;
  flex: 1;
  text-align: center;
  color: lighten($color-black, 60);
}

.navbar a:hover {
  background-color: $color-black;
  color: lighten($color-black, 80);
}

.content {
  background-color: #fff;
}

.aside {
  background-color: darken(#fff, 8);
  padding: 1em;
}

.footer {
  background-color: lighten($color-black, 10);
  line-height: 48px;
  text-align: center;
  color: lighten($color-black, 60);
}

.ad {
  width: 100%;
  height: auto;
}

.blog-list {
  margin-left: 24px;
  list-style-image: url("../img/leaf.svg");
}

@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?v2thl8');
  src:  url('../font/icomoon.eot?v2thl8#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?v2thl8') format('truetype'),
    url('../font/icomoon.woff?v2thl8') format('woff'),
    url('../font/icomoon.svg?v2thl8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e902";
}
.icon-blog:before {
  content: "\e907";
}
.icon-staff:before {
  content: "\e9de";
}
.icon-about:before {
  content: "\ea0c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-github:before {
  content: "\eab0";
}